<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
	<div class="container">
	<h1> Edit Your Profile </h1>
	<hr>
	<form  class="form" action="#" th:action="@{/save}" method="post" th:object="${employee}">
	
		<input type="hidden" th:field="*{id}" />
		
		<label>First Name</label>
		<input type="text" th:field="*{firstName}" /><br>
		
		<label>Last Name</label>
		<input type="text" th:field="*{lastName}" /><br>
		
		<label>email</label>
		<input type="text" th:field="*{email}" /><br>
		<button class="btn btn-primary">Save</button>
	</form>	
	</div>
</body>
</html>